<%# Index page which gets opened up - list of all places with the hyperlink to visit each plcace%>
<h1>Places I've Been</h1>
	<ul>
	<% for place in @places %>
	    <li>
	    <a href="/places/<%= place["id"] %> "><%=place["name"]%></a>
	    </li>
	<% end %>
	</ul>
	
	<%# User clicks here to enter a new place%>
	<p>
	  <a href="/places/new">Add a new place</a>
	</p>




